.task-container {
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    text-align: left;
    
}

.task-buttons {
    float: right;
    text-align: right;
    padding-top: 10px;
}

.task-delete{
    padding-left: 6px;
}
.task-details{
    padding-top: 10px;
}

.task-empty-details{
    text-align: center;
}

.task-label{
    font-style: italic;
    font-size: 15px;
    font-family: monospace;
    color: gray;
}

.task {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-color: gainsboro;
    border-style: double;
    /* background: #bef4f8;
    background: linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%);
    background-image: -ms-linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%);
    background-image: -moz-linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%);
    background-image: -o-linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%);
    background-image: -webkit-linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%);
    background-image: linear-gradient(45deg,#bef4f8 1%,#dcf5fa 64%,#c8e6e7 97%); */
}