.home-container {
    background-image: url("/stackBkgM.jpg");
    min-height: calc(100vh);
}

.home-title {
font-size: 25px;
font-weight: 400;
color: rgba(0,0,0,0.70);
margin-top: 50px;
}
.centered {
font-size: 25px;
font-weight: 400;
color: rgba(0,0,0,0.70);
position: absolute;
top: 85%;
left: 50%;
transform: translate(-50%, -50%);
}
.fadein img {
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-animation-name: fade;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-duration: 20s;
animation-name: fade;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 20s;
}

@-webkit-keyframes fade {
0% {opacity: 0;}
25% {opacity: 1;}
50% {opacity: 1;}
75% {opacity: 0;}
100% {opacity: 0;}
}
@keyframes fade {
0% {opacity: 0;}
25% {opacity: 1;}
50% {opacity: 1;}
75% {opacity: 0;}
100% {opacity: 0;}
}

#f1 {
width:100%;
height:100%;
max-width:560px;
max-height:420px;
}
#f2 {
-webkit-animation-delay: 10s;
animation-delay: 10s;
max-width:560px;
max-height:420px;
width:100%;
height:100%;
}
#f3 {
content: "Stay on top of your tasks.";
font-size: 1.2em;
font-weight: bold;
font-color: black;
width:auto;
height:auto;
-webkit-animation-name: spin;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-duration: 20s;
animation-name: spin;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 20s;
}

#f3:after {
content: "Stay on top of your tasks.";
-webkit-animation-name: spin;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-duration: 20s;
animation-name: spin;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 20s;
}

@keyframes spin {
25% { content:"Push tasks to your friends."; }
50% { content:"Collaborate. Get notified."; }
75% { content:"Add Google Calender events."; }
}

