.login-container {
    background-image: url("/stackBkgM.jpg");
    min-height: calc(100vh);
}

 .social-login {
     display: inline-flex;
     max-width: 300px;
     min-width: 280px;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-40%, -50%);
     box-shadow: 0 1px 11px rgba(0, 0, 0, 0.9) inset;
     background: gainsboro;
}
 a:link{
     font-size: 1.2em;
     font-weight: bold;
     padding-left: 10px;
     padding-right: 10px;
}
 .social-btn {
     border: 3px solid white;
     margin: 15px;
}
 .social-btn img {
     height: 32px;
     float: left;
     margin-right: 0px;
}
 .social-btn.facebook img {
     height: 24px;
     margin-left: 3px;
}
 .social-btn.github img {
     height: 24px;
     margin-left: 3px;
}
 .signup-link {
     color: rgba(0, 0, 0, 0.65);
     font-size: 14px;
}

