.app-header {
    height: 60px;
    padding-left: 20px;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    color:'#EA005E',
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
    padding-right: 20px;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0,0,0,0.65);
}

.app-nav ul li a:hover {
    color: #0f96f6;
}

.app-nav ul li a.active {
    color: #0f96f6;
}

.app-nav ul li .app-profile-avatar img {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    background-size: 32px 32px;
    border-radius: 50%;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
}

.app-nav a:link {
    font-size: 1.2em;
    font-size: calc(16px + 1vw);
}